* {
  margin: 0;
  max-width: 100%;
  /* height: 4996.6px; */
}

.green {
  color: #59702f;
  font-weight: 700;
}

.unl {
  text-decoration: underline;
}

.unl:hover {
  cursor: pointer;
}

.bold {
  font-weight: 700;
}

h1 {
  font-family: "Playfair Display";
  font-size: 2.2rem;
}

p {
  font-family: "Open Sans";
}
/************************************************/
.dc-consultation {
  background: scroll;
  background-image: url("./img/dc-background.png");
  background-size: 100%;
  padding: 5%;
}

.dc-consultation .dc-banner {
  display: grid;
  width: 100%;
  justify-content: right;
  column-gap: 2%;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2.5%;
}

.dc-banner .dc-banner-text {
  width: 100%;
}
.dc-banner .dc-banner-text h2 {
  margin: 0 0 2% 0;
  font-size: 2.2rem;
}
.dc-banner .dc-banner-text p {
  margin: 0 0 2% 0;
  font-size: 1.2rem;
}
.dc-banner .dc-banner-img {
  width: 100%;
}

/*************************************************/

.dc-consultation-form {
  text-align: -webkit-center;
  width: 100%;
  margin-bottom: 5%;
}

.dc-consultation-form h1 {
  margin: 0 0 3% 0;
}

.dc-consultation-form-step-1 {
  width: 70%;
  text-align: left;
}

form.row.g-3.needs-validation.was-validated {
  margin: 2% 0;
}

.dc-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-end: 4;
  column-gap: 4%;
  row-gap: 14%;
  width: 100%;
  margin: 3% 0;
  padding: 0 !important;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
select {
  width: 100%;
  border: 0;
  padding: 4% 2% 4% 5% !important;
  background-color: #fffbf6;
  font-size: 1rem;
  font-weight: 500;
}

input#concern {
  padding: 2% 2% 2% 3% !important;
  margin-bottom: 5%;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"]::placeholder {
  font-size: 1rem;
  font-weight: 500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  font-size: 1rem;
  font-weight: 500;
}

.dc-whatsapp-tick {
  margin-bottom: 5%;
}

.dc-therepys {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3%;
  grid-row-gap: 12%;
  margin-bottom: 8%;
}

.dc-therepys .therapy {
  position: relative;
  height: fit-content;
  width: 100%;
  height: 6rem;
  text-align: center;
}

input.therapy-input {
  position: absolute;
  z-index: 2;
  right: 0;
  zoom: 1.3;
  display: none;
}
p.error {
  color: red;
  font-family: Poppons, sans-serif;
  font-size: medium;
  display: none;
}

.dc-therepys .input [type="checkbox"]::-ms-check {
  width: 50px;
}

.dc-therepys label {
  border: 1px solid;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  align-items: center;
}

.dc-therepys img {
  width: 30%;
  height: 70%;
  align-self: center;
}
.dc-therepys p {
  width: 35%;
  margin: 4% 0%;
  font-size: 0.8rem;
}

input#date {
  padding: 7% 2% 7% 5% !important;
}

.time,
.date {
  display: grid;
  row-gap: 25%;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  position: unset !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: none !important;
}

.dc-form-submit {
  width: 100%;
  text-align: center;
}

.dc-form-submit input[type="Submit"] {
  width: 30%;
  padding: 1% 1%;
  background-color: #80a03c;
  border: 0;
  color: #ffffff;
  font: bold 19px "Open Sans";
}

/***********************************************************/

.dc-doctor-details {
  text-align: center;
}

.dc-doctor-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: 5% 5%;
  column-gap: 5%;
  justify-items: center;
}

.dc-card {
  width: 100%;
  padding: 5%;
  text-align: -webkit-center;
}

.dc-card .doctor-image {
  width: 158px;
  height: 180px;
}

.dc-card h2.doctor-name {
  font-size: 1.5rem;
  margin: 4% 0;
}

p.doctor-detail {
  margin: 0;
}

.doctor-experience {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.doctor-experience p {
  margin: 0;
}

/**********************************************************/

h3.dc-acheivement-head {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.dc-acheivements {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 4% 2%;
}

.acheiventent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.acheivement-img {
  border-radius: 66px;
  height: 105px;
  text-align: center;
}

.acheivement-img img {
  width: 100%;
  margin: 6% 0;
}

p.acheivement-description {
  font-size: 1.1rem;
  margin: 0;
}

.dc-book-consulation {
  text-align: -webkit-center;
  margin: 5% 0;
}

button.btn-book {
  display: flex;
  justify-content: space-between;
  width: 30%;
  background-color: #6a8330;
  padding: 1%;
  border: 0;
  align-items: baseline;
  border-radius: 7px;
}

.btn-initial {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
p.btn-text {
  color: wheat;
  font-weight: 700;
  margin: 0;
}

.btn-image {
  width: 16%;
}

/**********************************************/

.dc-treatments {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 4% 0;
  text-align: center;
  padding: 0 5%;
  column-gap: 17%;
}

.treatment {
  width: 100%;
}

p.treatment-text {
  width: 100%;
  font-style: italic;
  font-family: Playfair Display;
}

/************************************************/
.dc-consult-queries {
  text-align: center;
  line-height: 40px;
}

.dc-consult-head {
  margin-bottom: 2%;
}

.dc-selector {
  margin: 3% 0;
  padding: 0 6%;
}

p.question {
  margin: 1.5% 0;
  padding: 0.5% 0;
  border-bottom: 1px solid;
  font-weight: 700;
  background-image: url(./img/up-arrow.png);
  background-repeat: no-repeat;
  background-position: right;
}

p.answer {
  margin: 0;
  padding: 1% 0;
  font-size: 0.9rem;
  font-weight: normal;
  display: none;
}

/****************************************************/

.dc-why-kapiva {
  text-align: center;
}

h3.why-head {
  font-weight: 300;
  font-family: "Open Sans";
}
